<template>
  <div class="dropdown" @focusout="hideOptions($event)">
    <!-- Selected items as button array -->
    <div v-if="selectedItems.length && isMultipleSelectionAllowed">
      <button
        :key="index"
        v-for="(item, index) in selectedItems"
        @click="removeItemFromSelectedItemsList(item[keyPosition])"
      >
        {{ item[valuePosition] }} X
      </button>
    </div>
    <!-- Dropdown search field -->
    <input
      class="dropdown-input"
      @focus="showOptions()"
      @blur="exit()"
      @keyup="enterkeyEventTrack"
      v-model="searchFilter"
      :disabled="isDisabled"
      :placeholder="placeholder"
    />

    <!-- Dropdown item list -->
    <div class="dropdown-item-list" v-show="areOptionsShown">
      <div
        @mousedown="selectOption(option)"
        v-for="(option, index) in filteredOptions"
        :key="index"
        :class="isElementInSelectedItemsList(option[keyPosition])
            ? 'shadowed-dropdown-item'
            : 'dropdown-item'">
        {{ option[valuePosition] }}
      </div>
      <div class="dropdown-item" v-if="!options">{{ failureText }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  template: 'Dropdown',
  props: {
    options: {
      type: Object,
      required: false,
      note: 'Key-value Object to be represented as items'
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Please select an option',
      note: 'Placeholder of dropdown'
    },
    isDisabled: {
      type: Boolean,
      required: false,
      default: false,
      note: 'Disable the dropdown'
    },
    isMultipleSelectionAllowed: {
      type: Boolean,
      required: false,
      default: false,
      note: 'Can enable the multiple selection'
    }
  },
  data () {
    return {
      keyPosition: 0,
      valuePosition: 1,
      selectedItems: [],
      areOptionsShown: false,
      failureText: 'This list is empty', // This might be translated
      searchFilter: ''
    }
  },
  created () {
    this.$emit('selectedItems', this.selectedItems)
  },
  computed: {
    filteredOptions () {
      let filtered = []
      const regOption = new RegExp(this.searchFilter, 'ig')
      filtered = [
        ...Object.entries(this.options || {}).filter((option) => {
          return this.searchFilter.length < 1 || option[this.valuePosition].match(regOption)
        })
      ]
      return filtered
    }
  },
  methods: {
    selectOption (option) {
      if (!this.isElementInSelectedItemsList(option[this.keyPosition])) {
        if (this.isMultipleSelectionAllowed) {
          this.selectedItems.push(option)
        } else {
          this.selectedItems = [option]
        }
        this.searchFilter = option[this.valuePosition].toString()
        this.areOptionsShown = false
        this.$emit('selectedItems', this.selectedItems)
      } else {
        this.removeItemFromSelectedItemsList(option[this.keyPosition])
      }
    },
    showOptions () {
      if (!this.isDisabled) {
        this.areOptionsShown = true
        this.searchFilter = ''
      }
    },
    exit () {
      if (!this.selectedItems.length) {
        this.selectedItems = []
        this.searchFilter = ''
      }
      this.$emit('selected', this.selected)
    },
    enterkeyEventTrack: function (event) {
      if (event.key === 'Enter' && this.filteredOptions[0]) {
        this.selectOption(this.filteredOptions[0])
        this.areOptionsShown = true
        this.searchFilter = ''
      }
    },
    isElementInSelectedItemsList (searchItemKey) {
      return this.selectedItems.find((item) => item[this.keyPosition] === searchItemKey)
    },
    removeItemFromSelectedItemsList (searchItemKey) {
      if (this.isElementInSelectedItemsList(searchItemKey)) {
        this.selectedItems.splice(
          this.selectedItems.indexOf(
            this.isElementInSelectedItemsList(searchItemKey)
          ),
          1
        )
      }
    },
    hideOptions (event) {
      if (!event.currentTarget.contains(event.relatedTarget)) {
        this.areOptionsShown = false
      }
    }
  }
}
</script>

<style scoped>
.dropdown {
  max-width: 20rem;
  display: block;
  margin: auto;
}

.dropdown > .dropdown-item-list {
  background-color: #fff;
  min-width: 248px;
  max-width: 248px;
  max-height: 248px;
  border: 1px solid #e7ecf5;
  box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
  overflow: auto;
  z-index: 1;
}

.dropdown > .dropdown-item-list > .dropdown-item {
  color: black;
  font-size: 0.7em;
  line-height: 1em;
  padding: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown > .dropdown-item-list > .shadowed-dropdown-item {
  color: black;
  background-color: #f1f1f1;
  font-size: 0.7em;
  line-height: 1em;
  padding: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown > .dropdown-input {
  background: #fff;
  cursor: pointer;
  border: 1px solid #e7ecf5;
  border-radius: 3px;
  color: #333;
  display: block;
  font-size: 0.8em;
  padding: 6px;
  min-width: 250px;
  max-width: 250px;
}

button {
  background-color: #f1f1f1;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 0.6em;
  margin: 0.2rem;
  margin-bottom: 1rem;
}
</style>
