<template>
  <div>
    <h1>Geoblink Frontend Exercise</h1>
    <p>Selected elements: {{elementsList}}</p>
    <dropdown
        :options=states
        :isDisabled="false"
        :isMultipleSelectionAllowed="true"
        v-on:selectedItems="setSelectedList"
        placeholder="Please select an state">
      </dropdown>
  </div>
</template>

<script>
import Dropdown from './dropdown/Dropdown'

export default {
  name: 'StatesList',
  components: {
    'dropdown': Dropdown
  },
  data () {
    return {
      states: null,
      elementsList: []
    }
  },
  methods: {
    setSelectedList (currentList) {
      this.elementsList = currentList
    }
  },
  async mounted () {
    this.states = (await this.$http.get(process.env.BACKEND_URL)).body
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-weight: normal;
}
</style>
